<div *ngIf="!isLoading; else loading">
  <div *ngIf="questions.length > 0; else noQuestions">
    <div class="question-container">
      <h2>{{ questions[currentQuestionIndex]?.question }}</h2>

      <div *ngFor="let answer of getAnswers(currentQuestionIndex)">
        <button (click)="checkAnswer(answer)">
          {{ answer }}
        </button>
      </div>
    </div>

    <button (click)="nextQuestion()">Next Question</button>
  </div>
</div>

<ng-template #loading>
  <p>Loading questions...</p>
</ng-template>

<ng-template #noQuestions>
  <p>No questions available. Please try again later.</p>
</ng-template>
